###
        48;5;16 48;5;17 48;5;18 48;5;19 48;5;20 48;5;21
38;5;16[48;5;16;38;5;16m ^(;,;)^[0m[48;5;17;38;5;16m ^(;,;)^[0m[48;5;18;38;5;16m ^(;,;)^[0m[48;5;19;38;5;16m ^(;,;)^[0m[48;5;20;38;5;16m ^(;,;)^[0m[48;5;21;38;5;16m ^(;,;)^[0m
38;5;22[48;5;16;38;5;22m ^(;,;)^[0m[48;5;17;38;5;22m ^(;,;)^[0m[48;5;18;38;5;22m ^(;,;)^[0m[48;5;19;38;5;22m ^(;,;)^[0m[48;5;20;38;5;22m ^(;,;)^[0m[48;5;21;38;5;22m ^(;,;)^[0m
38;5;28[48;5;16;38;5;28m ^(;,;)^[0m[48;5;17;38;5;28m ^(;,;)^[0m[48;5;18;38;5;28m ^(;,;)^[0m[48;5;19;38;5;28m ^(;,;)^[0m[48;5;20;38;5;28m ^(;,;)^[0m[48;5;21;38;5;28m ^(;,;)^[0m
38;5;34[48;5;16;38;5;34m ^(;,;)^[0m[48;5;17;38;5;34m ^(;,;)^[0m[48;5;18;38;5;34m ^(;,;)^[0m[48;5;19;38;5;34m ^(;,;)^[0m[48;5;20;38;5;34m ^(;,;)^[0m[48;5;21;38;5;34m ^(;,;)^[0m
38;5;40[48;5;16;38;5;40m ^(;,;)^[0m[48;5;17;38;5;40m ^(;,;)^[0m[48;5;18;38;5;40m ^(;,;)^[0m[48;5;19;38;5;40m ^(;,;)^[0m[48;5;20;38;5;40m ^(;,;)^[0m[48;5;21;38;5;40m ^(;,;)^[0m
38;5;46[48;5;16;38;5;46m ^(;,;)^[0m[48;5;17;38;5;46m ^(;,;)^[0m[48;5;18;38;5;46m ^(;,;)^[0m[48;5;19;38;5;46m ^(;,;)^[0m[48;5;20;38;5;46m ^(;,;)^[0m[48;5;21;38;5;46m ^(;,;)^[0m
###
<pre style='color:#FFFFFF;background:#000000'>
        48;5;16 48;5;17 48;5;18 48;5;19 48;5;20 48;5;21
38;5;16<span style='color:#000000;background:#000000;'> ^(;,;)^</span><span style='color:#000000;background:#00005F;'> ^(;,;)^</span><span style='color:#000000;background:#000087;'> ^(;,;)^</span><span style='color:#000000;background:#0000AF;'> ^(;,;)^</span><span style='color:#000000;background:#0000D7;'> ^(;,;)^</span><span style='color:#000000;background:#0000FF;'> ^(;,;)^</span>
38;5;22<span style='color:#005F00;background:#000000;'> ^(;,;)^</span><span style='color:#005F00;background:#00005F;'> ^(;,;)^</span><span style='color:#005F00;background:#000087;'> ^(;,;)^</span><span style='color:#005F00;background:#0000AF;'> ^(;,;)^</span><span style='color:#005F00;background:#0000D7;'> ^(;,;)^</span><span style='color:#005F00;background:#0000FF;'> ^(;,;)^</span>
38;5;28<span style='color:#008700;background:#000000;'> ^(;,;)^</span><span style='color:#008700;background:#00005F;'> ^(;,;)^</span><span style='color:#008700;background:#000087;'> ^(;,;)^</span><span style='color:#008700;background:#0000AF;'> ^(;,;)^</span><span style='color:#008700;background:#0000D7;'> ^(;,;)^</span><span style='color:#008700;background:#0000FF;'> ^(;,;)^</span>
38;5;34<span style='color:#00AF00;background:#000000;'> ^(;,;)^</span><span style='color:#00AF00;background:#00005F;'> ^(;,;)^</span><span style='color:#00AF00;background:#000087;'> ^(;,;)^</span><span style='color:#00AF00;background:#0000AF;'> ^(;,;)^</span><span style='color:#00AF00;background:#0000D7;'> ^(;,;)^</span><span style='color:#00AF00;background:#0000FF;'> ^(;,;)^</span>
38;5;40<span style='color:#00D700;background:#000000;'> ^(;,;)^</span><span style='color:#00D700;background:#00005F;'> ^(;,;)^</span><span style='color:#00D700;background:#000087;'> ^(;,;)^</span><span style='color:#00D700;background:#0000AF;'> ^(;,;)^</span><span style='color:#00D700;background:#0000D7;'> ^(;,;)^</span><span style='color:#00D700;background:#0000FF;'> ^(;,;)^</span>
38;5;46<span style='color:#00FF00;background:#000000;'> ^(;,;)^</span><span style='color:#00FF00;background:#00005F;'> ^(;,;)^</span><span style='color:#00FF00;background:#000087;'> ^(;,;)^</span><span style='color:#00FF00;background:#0000AF;'> ^(;,;)^</span><span style='color:#00FF00;background:#0000D7;'> ^(;,;)^</span><span style='color:#00FF00;background:#0000FF;'> ^(;,;)^</span>
</pre>