:root,
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #b378da;
  --primary-hover: #621f94;
  --primary-focus: #430672;
  --primary-inverse: #FFF;
  --primary-bright: #9e1fff;
}

:root {
  --nav-background-color: rgb(0, 0, 0);
  --nav-border-color: var(--primary-hover);
  --nav-logo-color: var(--primary-inverse);
}

body > nav {
  --nav-link-spacing-vertical: 1rem;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--nav-background-color);
  box-shadow: 0px 1px 0 var(--nav-border-color);
}
body > nav.container-fluid {
  padding-right: calc(var(--spacing) + var(--scrollbar-width, 0px));
}
body > nav a {
  border-radius: 0;
}
body > nav svg {
  height: 1.2rem;
  vertical-align: text-bottom;
}
body > nav ul:first-of-type {
  margin-left: calc(var(--spacing) * -1);
}
body > nav ul:first-of-type li {
  padding: 0;
}
body > nav ul:first-of-type li:first-of-type a {
  display: block;
  margin: 0;
  padding: 0;
  background: var(--h1-color);
  color: var(--nav-logo-color);
}
body > nav ul:first-of-type li:first-of-type a:hover {
  color: var(--primary-bright);
}
body > nav ul {
  color: var(--nav-logo-color);
}
body > nav ul:first-of-type li:first-of-type a svg {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
}
body > nav ul:first-of-type li:nth-of-type(2) {
  display: none;
  margin-left: calc(var(--spacing) * 1.5);
}
@media (min-width: 500px) {
  body > nav ul:first-of-type li:nth-of-type(2) {
    display: inline;
  }
}

pre {
  color: inherit;
}