###
                  4   4:1   4:2   4:3   4:4   4:5    21   4;9
           94[4;94m Test [0m[4:1;94m Test [0m[4:2;94m Test [0m[4:3;94m Test [0m[4:4;94m Test [0m[4:5;94m Test [0m[21;94m Test [0m[4;9;94m Test [0m
       58;5;2[4;58;5;2m Test [0m[4:1;58;5;2m Test [0m[4:2;58;5;2m Test [0m[4:3;58;5;2m Test [0m[4:4;58;5;2m Test [0m[4:5;58;5;2m Test [0m[21;58;5;2m Test [0m[4;9;58;5;2m Test [0m
58;2;120;99;0[4;58;2;120;99;0m Test [0m[4:1;58;2;120;99;0m Test [0m[4:2;58;2;120;99;0m Test [0m[4:3;58;2;120;99;0m Test [0m[4:4;58;2;120;99;0m Test [0m[4:5;58;2;120;99;0m Test [0m[21;58;2;120;99;0m Test [0m[4;9;58;2;120;99;0m Test [0m
    94;58;5;2[4;94;58;5;2m Test [0m[4:1;94;58;5;2m Test [0m[4:2;94;58;5;2m Test [0m[4:3;94;58;5;2m Test [0m[4:4;94;58;5;2m Test [0m[4:5;94;58;5;2m Test [0m[21;94;58;5;2m Test [0m[4;9;94;58;5;2m Test [0m
###
<pre style='color:#FFFFFF;background:#000000'>
                  4   4:1   4:2   4:3   4:4   4:5    21   4;9
           94<span style='color:#5555FF;text-decoration:underline 1px solid'> Test </span><span style='color:#5555FF;text-decoration:underline 1px solid'> Test </span><span style='color:#5555FF;text-decoration:underline 1px double'> Test </span><span style='color:#5555FF;text-decoration:underline 1px wavy'> Test </span><span style='color:#5555FF;text-decoration:underline 1px dotted'> Test </span><span style='color:#5555FF;text-decoration:underline 1px dashed'> Test </span><span style='color:#5555FF;text-decoration:underline 1px double'> Test </span><span style='color:#5555FF;text-decoration:line-through underline 1px solid'> Test </span>
       58;5;2<span style='text-decoration:underline 1px solid #00BB00'> Test </span><span style='text-decoration:underline 1px solid #00BB00'> Test </span><span style='text-decoration:underline 1px double #00BB00'> Test </span><span style='text-decoration:underline 1px wavy #00BB00'> Test </span><span style='text-decoration:underline 1px dotted #00BB00'> Test </span><span style='text-decoration:underline 1px dashed #00BB00'> Test </span><span style='text-decoration:underline 1px double #00BB00'> Test </span><span style='text-decoration:line-through'><span style='text-decoration:underline 1px solid #00BB00'> Test </span></span>
58;2;120;99;0<span style='text-decoration:underline 1px solid #786300'> Test </span><span style='text-decoration:underline 1px solid #786300'> Test </span><span style='text-decoration:underline 1px double #786300'> Test </span><span style='text-decoration:underline 1px wavy #786300'> Test </span><span style='text-decoration:underline 1px dotted #786300'> Test </span><span style='text-decoration:underline 1px dashed #786300'> Test </span><span style='text-decoration:underline 1px double #786300'> Test </span><span style='text-decoration:line-through'><span style='text-decoration:underline 1px solid #786300'> Test </span></span>
    94;58;5;2<span style='color:#5555FF;text-decoration:underline 1px solid #00BB00'> Test </span><span style='color:#5555FF;text-decoration:underline 1px solid #00BB00'> Test </span><span style='color:#5555FF;text-decoration:underline 1px double #00BB00'> Test </span><span style='color:#5555FF;text-decoration:underline 1px wavy #00BB00'> Test </span><span style='color:#5555FF;text-decoration:underline 1px dotted #00BB00'> Test </span><span style='color:#5555FF;text-decoration:underline 1px dashed #00BB00'> Test </span><span style='color:#5555FF;text-decoration:underline 1px double #00BB00'> Test </span><span style='color:#5555FF;text-decoration:line-through'><span style='text-decoration:underline 1px solid #00BB00'> Test </span></span>
</pre>