
body > main {
    padding-top: calc(var(--block-spacing-vertical) + 3.5rem);
  }
  @media (min-width: 992px) {
    body > main {
      --block-spacing-horizontal: calc(var(--spacing) * 1.75);
      grid-column-gap: calc(var(--block-spacing-horizontal) * 3);
      display: grid;
      grid-template-columns: 200px auto;
    }
  }
  @media (min-width: 1200px) {
    body > main {
      --block-spacing-horizontal: calc(var(--spacing) * 2);
    }
  }
  body > main > aside,
  body > main div[role=document] {
    min-width: 0;
  }
  
  main > aside nav {
    width: 100%;
    padding-bottom: var(--block-spacing-vertical);
  }
  @media (min-width: 992px) {
    main > aside nav {
      position: fixed;
      width: 200px;
      max-height: calc(100vh - 5.5rem);
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  
  main > aside details {
    padding-bottom: 0;
  }
  main > aside details summary {
    padding-bottom: 0.5rem;
  }
  main > aside li,
  main > aside summary {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
  }
  main > aside ul {
    padding-left: 0.25rem;
  }
  main > aside li a {
    --nav-link-spacing-vertical: 0.25rem;
    --nav-link-spacing-horizontal: 0.75rem;
  }
  main > aside li a svg {
    vertical-align: middle;
  }
  main > aside a.secondary:focus {
    background-color: transparent;
    color: var(--primary-hover);
  }
  main > aside a[aria-current],
  main > aside a[aria-current]:hover {
    color: var(--primary);
  }
  main > aside details {
    border-bottom: none;
  }
  main > aside details summary {
    color: var(--h1-color);
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
  }
  main > aside details summary::after {
    display: none;
  }
  main > aside details[open] > summary {
    margin-bottom: 0;
  }
  main > aside details[open] > summary:not([role=button], :focus) {
    color: var(--h1-color);
  }
  
  h1 {
    margin-top: -0.25em;
  }
  
  section > hgroup {
    margin-bottom: calc(var(--typography-spacing-vertical) * 2);
  }
  
  [role=document] section > h1,
  [role=document] section > h2,
  [role=document] section > h3 {
    line-height: 1;
  }

  .color-tables td {
    padding: 0;
    font-size: 0.6rem;
    text-align: center;
    border: 1px solid #FFFFFF;
  }
  pre {
    padding: 1em;
  }